<h1>You're in <%= @city.name %></h1>


<h1>Pick your Attraction</h1>

<% @city.attractions.each do |attraction| %>
 <li> <%= link_to attraction.name, attraction_path(attraction) %> </li>
  <% end %>
  <br>


<% if !flash[:error].nil? && !flash[:error].empty?  %>
 <% flash[:error].each do |message| %>
  <li> <%=  message  %> </li>
 <% end %>
<% end %>

<% if logged_in? %>
  Add a new attraction here if you like: <br>
  <div class= "col-md-2">  
      <%= render partial: 'attractions/form', locals: {attraction: @city.attractions.build} %>
  </div>  
<% else %> 
  <p>Sign in or Sign up to add your own reviews! </p>
<% end %>