<% if !flash[:error].nil? && !flash[:error].empty?  %>
 <% flash[:error].each do |message| %>
  <li> <%=  message  %> </li>
 <% end %>
<% end %>

<%= render partial:'form', locals: {review: @review} %>