<h3>Edit Your Review of <%= @review.attraction.name %></h3>
<%= render partial: 'form', locals: {review: @review}  %>
<%= button_to 'Delete', delete_review_path(@review), :confirm => 'Are you sure?', :method => :delete %>